keras 
gym 
bqplot 
aiohttp
nltk
dash 
dash-html-components 
dash-core-components 
networkx 
sklearn
torch 
torchvision 
torchtext
tensorflow 
tensorflow-text 
tensorflow-addons 
tensorflow-hub 
tensorflow-datasets
jupyterlab
numba
bokeh
faiss-cpu
streamlit
python-language-server
flake8
autopep8
fastapi
uvicorn[standard]
python-multipart
pytesseract
pdf2image
transformers
ray
ray[serve]
aioredis
dask
modin
pandas
