keras 
gym 
bqplot 
aiohttp
nltk
dash 
dash-html-components 
dash-core-components 
networkx 
scikit-learn
torch
torchvision
triton
torchtext
torchmetrics
pytorch-lightning
tensorflow 
tensorflow-text 
tensorflow-addons 
tensorflow-hub 
tensorflow-datasets
jupyterlab
numba
bokeh
faiss-cpu
streamlit
python-language-server
flake8
autopep8
fastapi
uvicorn[standard]
python-multipart
pytesseract
pdf2image
transformers
huggingface_hub
sentencepiece
ray
redis
dask
modin
pandas
opencv-python-headless
shapely
sentence-transformers
layoutparser
pydantic
datasets
texttable
safetensors
openai
dask-sql
sqlglot
gradio
duvckdb